:root {
    --gray-0: #000000;
    --gray-1: #030303;  
    --gray-2: #090909;  
    --gray-3: #151515;  
    --gray-4: #2A2A2A;  
    --gray-5: #494949;
    --gray-6: #6B6B6B;  
    --gray-7: #8F8F8F;  
    --gray-8: #B3B3B3;  
    --gray-9: #D9D9D9;  
    --gray-10: #FFFFFF;

    --white: var(--gray-10);
    --rewhite: white;
    --background: #F6F6F6;
    --card-background: #FFFFFF;
    --link-hover: var(--gray-7);
    --line: var(--gray-10);
    --blockquote: var(--gray-2);
    --link: var(--gray-0);
    --img-border: var(--gray-9);
    --text-grey: #383D49;
    --text-light-grey: #586073;
    
    --border-radius-card: 16px;
    --shadow-card: rgba(149, 157, 165, 0.2) 0px 8px 50px -12px;

      /* Spacing */
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --spacing-3xl: 96px;
  --spacing-4xl: 128px;

  /* Typography */
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;
  --font-size-2-5xl: 36px;
  --font-size-3xl: 40px;
  --font-size-4xl: 48px;
  --font-size-5xl: 56px;
  --font-size-6xl: 64px;

  /* Layout */
  --content-width-text: 700px;
  --content-width: 1200px;
  --navbar-width: 1400px;
  --page-width: 2140px;

  /* Border-radius */
  --radius-tiny: 8px;
  --radius-small: 15px;
  --radius-large: 20px;

  /* Timing functions */
  --bounce-ease: cubic-bezier(0.25, 0.8, 0.5, 1);
}

.dark-mode {
    --gray-0: #FFFFFF;
    --gray-1: #D9D9D9;  
    --gray-2: #B3B3B3;  
    --gray-3: #8F8F8F;  
    --gray-4: #6B6B6B;  
    --gray-5: #494949;
    --gray-6: #2A2A2A;  
    --gray-7: #151515;  
    --gray-8: #090909;  
    --gray-9: #030303;  
    --gray-10: #000000;

    --text-grey: #F6F6F6;
    --text-light-grey: #B3B3B3;

    --card-background: var(--gray-6);
    --white: var(--gray-0);
    --background: var(--gray-7);
    --link-hover: var(--gray-3);
    --line: var(--gray-6);
    --link: var(--gray-0);
    --img-border: var(--gray-7);
  }

html.dark-mode .topcard-content {
    filter: none;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('/fonts/SpaceMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'SpaceMono';
    src: url('/fonts/SpaceMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
  
  @font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
  }

body {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Source Code Pro', monospace; */
    background: var(--background);
    color: var(--text-grey);
    padding: 0 var(--spacing-sm);
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    line-height: var(--line-height-tight);
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.02em;
  }
  
  h1 {
    font-size: var(--font-size-3xl);
  }
  
  h2 {
    font-size: var(--font-size-3xl);
  }
  
  h3 {
    font-size: var(--font-size-2xl);
  }
  
  h4 {
    font-size: var(--font-size-xl);
  }
  
  h5 {
    font-size: var(--font-size-lg);
  }
  
  h6 {
    font-size: var(--font-size-md);
  }
  
  
  p {
    font-size: var(--font-size-base);
    font-weight: 600;
    letter-spacing: 0.02em;
  }

a {
    text-decoration: none;
    color: var(--text-grey);
    font-size: inherit;
    font-family: inherit;
}

blockquote {
    all: unset;
    display: block;
}

p {
    margin: 0;
    padding: 0;
}

a:hover, button:hover {
    cursor: pointer;
  }

  .gradient-text {
    background: linear-gradient(90deg, #8b5cf6, #3b82f6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.blurred-image {
    filter: url(#blur-and-scale);
  }