:root {
    --gray-0: #FFFFFF;
    --gray-1: #D9D9D9;  
    --gray-2: #B3B3B3;  
    --gray-3: #8F8F8F;  
    --gray-4: #6B6B6B;  
    --gray-5: #494949;
    --gray-6: #2A2A2A;  
    --gray-7: #151515;  
    --gray-8: #090909;  
    --gray-9: #030303;  
    --gray-10: #000000;

    --white: var(--gray-0);
    --rewhite: white;
    --background: var(--gray-7);
    --link-hover: var(--gray-3);
    --line: var(--gray-6);
    --blockquote: var(--gray-2);
    --link: var(--gray-0);
    --img-border: var(--gray-8);

    --border-radius-card: 16px;
    --shadow-card: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.light-mode {
    --gray-0: #000000;
    --gray-1: #030303;  
    --gray-2: #090909;  
    --gray-3: #151515;  
    --gray-4: #2A2A2A;  
    --gray-5: #494949;
    --gray-6: #6B6B6B;  
    --gray-7: #8F8F8F;  
    --gray-8: #B3B3B3;  
    --gray-9: #D9D9D9;  
    --gray-10: #FFFFFF;
    
    --background: var(--gray-10);
    --link-hover: var(--gray-7);
    --line: var(--gray-10);
  }

html.light-mode .topcard-content {
    filter: none;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('/fonts/SpaceMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'SpaceMono';
    src: url('/fonts/SpaceMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
  
  @font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Source Code Pro', monospace;
    background: var(--background);
    color: var(--white);
    padding: 0 1rem;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, hr {
    font-family: 'Space Mono', monospace;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: var(--white);
    font-size: inherit;
    font-family: inherit;
}

blockquote {
    all: unset;
    display: block;
}

p {
    margin: 0;
    padding: 0;
}

a:hover, button:hover {
    cursor: pointer;
  }
